*{
  margin:0;
  padding:0;
}
body{
  height: 100%;
  text-align: center;
  font-family: helvetica,sans-serif;
}
h1{
  text-align: center;
  padding: 3rem 0;
  color: #44024D;
}
#sign-in{
  position: relative;
  margin: 0 auto;
  width: 35%;
  min-height: 100%;
  border: 1px solid lightgray;
  background: white;
  border-radius: 5px;
  padding: 2.2rem 2.2rem 4rem 2.2rem;
}
#coder{
  width: 97%;
  border:1px solid lightgray;
  background: aliceblue;
  display:block;
  padding: 10px 0 10px 10px;
  border-radius: 5px;
}
#texto{
  resize: none;
  width: 94%;
  height: 10rem;
  border:1px solid lightgray;
  background: aliceblue;
  margin-top: 1rem;
  padding: 10px;
}
#boton{
  position: absolute;
  right: 2rem;
  bottom:1rem;
  padding: 4px 0;
  width: 23%;
  border:1px groove#440569;
  background: #641E16;
  font-size: 20px;
  display: block;
  border-radius:5px;
  color: white;
}
.posteo{
  margin: 0 auto;
  width: 300px;
  min-height: 100%;
  padding-top: 10px;
  word-wrap: break-word;
}
.contenido{
  text-align: left;
  padding-left: 10px;
}
.autor{
  font-family: cursive;
  text-align:right;
  padding-top: 50px;
  padding-right: 20px;
  text-transform: capitalize;
}
#error-usuaria{
  text-align: left;
  color: red;
  font-size: 11px;
  padding-left: 30px;

}
#error-texto{
  text-align: left;
  color: red;
  font-size: 11px;
  padding-left: 30px;
}

@media (max-width:760px) {
  h1{
    font-size: 1.5rem;
  }
  #sign-in{
    width:60%;
  }
}